@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,500;1,700;1,800&family=Roboto:wght@300;400;500;700&family=Titillium+Web:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Merriweather Sans', 'Roboto', sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
}

::-webkit-scrollbar{
    width: 0;
    border:none
}

.btn{
   display: block;
    width: 150px ;
    height: 45px;
    padding: 10px 12px;
    font-weight: 600;
    font-size: .875em;
     transition: all .3s ease-in-out;
 
}
.btn-orange{
    margin: 10px auto;
    border-radius: 30px;
    background-color: #d6431b;
    color: #bbb8b6;
}
.btn-orange:hover{
    opacity: .89;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(to right, rgba(92, 77, 66, 0.5) 0%, rgba(92, 77, 66, 0.5) 100%), url("../img/bg-masthead.jpg");
    filter: opacity(95%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}






.d1 , .content{
    
    width:600px;
    height: 300px;
    display: block;
    text-align: center;
    place-content: center;
   
  
    
}

.d1-title{
    font-weight: 700;
    color: #fff;
   
    font-size: 3em;
}
.d1-body , .content-body    {
  line-height: 25px;
}
.d1-text{
    font-size: 1.2em;
    color: #bbb8b6;
}

.hr1{
    margin: 10px auto;
    display: block;
    width: 88px;
    border:2px solid #F4623A;
   

}
.content-hr{
    margin: 10px auto;
    display: block;
    width: 88px;
    border:2px solid #Fff;
}
.p1{
    display: grid;
    width: 700px;
    height: 300px;
    place-content: center;
    text-align: center;
    color: rgba(255, 255, 255, 0.75) ;
    font-size: 23px ;
    font-family:'Merriweather Sans', 'Roboto', sans-serif;
   
}


.info{
    padding: 40px 20px;
    gap:1em;
    display: grid;
    place-content: center;
    place-items: center;
    width: 100%;
    height: 70vh;
    background-color: #f4623a;
}

.content{
    display: grid;
    gap:1em;
    place-content: center;
    place-items: center;
}

.content-title{
    font-weight: 600;
    font-size: 2.5em;
    color: #fefefe;
}


.content-text{
    font-size: 1em;
    color: #fefefe;
}

.btn-white{
    cursor: pointer;
    text-transform: uppercase;
    margin: 10px auto;
    border-radius: 30px;
    background-color: #Fff;
    color: #000;
}


.menu{
margin: 50px 0;
    width: 100%;
    height: 100vh;
    gap:1em;
    display: grid;
    place-content: center;
    place-items: center;
}

.row{
    display: flex;
    gap:1em;
    justify-content: space-around;
}

.card{
    margin: 10px 0;
    padding: 12px 15px;
    gap:1em;
    width: 250px;
    height: 450px;
    display: grid;
    place-content: center;
    place-items: center;
    text-align: center;
}

 .card-title{
    font-weight: 400;
    line-height: 45px;
    color:#212529;
    font-size: 1.5em;
 }
  
 .card-body{
    line-height: 25px;
 }

 .card-text{
    color: #6c757d;
    font-size: 1em;
 }
.bi-gem,
.fa-laptop,
.fa-earth-americas,
.fa-heart {
    font-size: 4em;
    color:#d6431b;
}
.menu-hr{
    margin: 10px auto;
    display: block;
    width: 88px;
    border:2px solid #F4623A;
}

.image{
    width: 100%;
    height: 500px;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: 250px 250px;
    display: grid;
}
.card-img>img{
    width:456px ;
    height: 250px;
}
.download{
    height: 50vh;
    display: grid;
    gap:1em;
    place-content: center;
    place-items: center;
    text-align: center;
    background-color: #212529;
}
.download-title{
    font-size: 2em;
    color: #ffff;
}

.btn-download{
    border-radius: 30px;
    text-transform: uppercase;
    background-color: #fff;
    width: 300px;
    padding:15px 12px;
    height: 50px;
    color: #000;
}


.form{
    padding: 50px 0;
   
    width: 100%;
  
}

.form-content{
    display: grid;
    gap:1em;
    place-content: center;
    place-items: center;
}
.form-body{
    width: 500px;
    text-align: center;
}

form{
    display: grid;
    gap:1em;
    place-content: center;
    place-items: center;
  
    padding: 50px 0;
}
.form-title{
    font-size: 2.5em;
    color: #212529;
}
.form-text{
    font-size: 1em;
    color: #212529;
}
.form-input{
    border-radius: 10px;
    height: 25px;
    padding: 20px 14px;
    border: 1px solid #bbb8b6;
    outline: 1px solid #bbb8b6;
    width: 500px;
    transition: all .3s ease-in;
}
textarea{
    border-radius: 10px;
    border: 1px solid #bbb8b6;
    outline: 1px solid #bbb8b6;
    resize: none;
    width: 500px; 
    transition: all .3s ease-in;
}

:is(textarea , .form-input):hover , 
:is(textarea , .form-input):focus{
    border: 1px solid salmon;
    outline: 1px solid salmon;
}
 .btn-pink{
    text-transform: uppercase;
    border-radius: 25px;
    text-align: center;
    width: 100%;
    font-size: .876em;
    height: 40px;
    padding: 13px 20px;
    background-color: salmon;
    color: #fff;
 }

 .footer{
    background-color: #f8f9fa;
    padding: 50px 0;
    display: block;
    text-align: center;
    width: 100%;
    height: 30vh;
    color: #6c757d7a;
 }